<!DOCTYPE HTML>
<html>
<head>
    <title>Đăng nhập</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.css') }}">
</head>
<body>
<!--header-->
<div class="header-w3l">
    <h1>Personal Login Form</h1>
</div>
<!--//header-->

<!--main-->
<div class="main-content-agile">
    <div class="sub-main-w3">
        <div class="wthree-pro">
            <img src="{{ url_for('static', filename='img/login.png') }}" alt="image">

            <h2>Đăng nhập</h2>
            {% if msg %}
                <p class="error"> {{ msg.decode('utf-8') }}</p>
            {% endif %}

        </div>
        <form action="{{ url_for('login') }}" method="post">
            <input placeholder="Username or E-mail" name="username" class="user" type="text" required="">
            <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span><br><br>
            <input placeholder="Password" name="password" class="pass" type="password" required="">
            <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
            <div class="sub-w3l">
                <span><input type="checkbox"/>Remember Me</span>
                <div class="right-w3l">
                    <input type="submit" value="Đăng nhập" >
                </div>
            </div>
        </form>
    </div>
</div>
<!--//main-->

</body>
</html>