@media only screen and (max-width: 640px) {
     .list-green {
        margin-left: 0
    }
}

.list-green {
    padding-left: 0 !important;
    margin-left: 0 !important
}
.list-green{
    list-style-type:none;

}
.list-green li {
    text-align: left;
    color: #002633 !important;
    position: relative; /* color:#585a69; */
    font-size: 22px;
    font-weight: 700;
}

.list-green li:before {
    position: absolute;
    top: 12px;
    left: -35px;
    border-width: 5px;
    width: 13px;
    height: 6px;
    margin: 0
}

.list-green li:before {
    display: none
}

.list-green li:before, .list-green li:before,  .list-green li:before {
    top: 10px
}


@media only screen and (max-width: 960px) {
    .list-green li {
        font-size: 20px
    }
}

@media only screen and (max-width: 640px) {
     .list-green li {
        font-size: 20.6px !important;
    }

     .list-green li:before {
        top: 9.6px !important
    }
}

.list-green li {
    background: url("../img/check-green.png") no-repeat 0 50%;
    padding-left: 40px
}

 .list-green.__min {
    float: left
}

@media only screen and (max-width: 640px) {
     .list-green.__min {
        float: none;
        margin-left: 0
    }
}

.list-green.__min,  .list-green.__min,  .list-green.__min, .lang-es  .list-green.__min, .lang-tr  .list-green.__min, .lang-ar  .list-green.__min, .lang-de  .list-green.__min {
    margin-left: 0;
    float: none
}

.list-green.__min +  .list-green.__min {
    margin-left: 40px
}

@media only screen and (max-width: 960px) {
     .list-green.__min +  .list-green.__min {
        margin-left: 0 !important
    }
}


.list-green.__min li:before {
    top: 8px
}



.location{
    background: url("../img/location.svg");
}