{% extends 'dashboard/main.html' %}

{% block css_content %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoMVpQZBsuguygC9iSgaRgfCLO-OErvtw&callback=initMap">
    </script>

    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/location.js') }}"></script>

{% endblock %}
{% block page_content %}
    <div class="right_col" role="main">

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel tile">
                    <div class="x_title">
                        <h2>Các vị trí</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="list-items">
                            {% for location in list_location %}
                                <a class="item-content" id="location-{{ location['id'] }}">
                                    <span>
                                        <strong>{{ location['location_name'] }}</strong>
                                        <br>
                                        <p id="geo-{{ location['id'] }}">{{ location['location_geo'] }}</p>
                                        <span style="float: right; padding-right: 15px">{{ location['date'] }}</span>
                                    </span>
                                    {#                                            <div class="status inactive"></div>#}
                                </a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="x_panel tile">
                    <div class="x_title">
                        <h2>Vị trí trên bản đồ</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="map"></div>

                    </div>
                </div>
            </div>


        </div>
        <div class="clearfix"></div>
    </div>

    <br/>

{% endblock %}
{% block js_content %}
    <script src="{{ url_for('static', filename='js/sms.js') }}"></script>
{% endblock %}
