<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">

{% extends 'dashboard/main.html' %}
{% block page_content %}
    <div class="right_col" role="main">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph">

                    <div class="row x_title">
                        <div class="row">
                            <h3>
                                Danh sách cuộc gọi trên thiết bị Sony
                            </h3>
                        </div>
                    </div>

                    <div class="row title">
                        {#                        <div id="chart_plot_01" class="demo-placeholder"></div>#}
                        {#                        <div id="chatbox">#}
                        <div>
                            <div class="search-sms">
                                <img src="{{ url_for('static', filename='img/search.png') }}"/>
                                <input type="text" placeholder="Tìm kiếm"/>
                            </div>

                            <div class="list-items">
                                {% for calllog in list_calllog %}
                                    <a class="item-content" href="{{ url_for('sms_detail',id=calllog['id']) }}">
                                        {% if calllog['type'] == 0 %}
                                        <img style="border: none; border-radius: 0%; width: 32px; height: 32px"
                                             src="{{ url_for('static', filename='img/call-miss.png') }}">
                                        {% elif calllog['type'] == 1 %}
                                        <img style="border: none; border-radius: 0%; width: 32px; height: 32px"
                                             src="{{ url_for('static', filename='img/call-come.png') }}">
                                        {% else %}
                                        <img style="border: none; border-radius: 0%; width: 32px; height: 32px"
                                             src="{{ url_for('static', filename='img/call-out.png') }}">
                                        {% endif %}
                                        <span>
                                                <span style="float: right; padding-right: 15px">{{ calllog['date'] }}</span>
                                                <strong>{{ calllog['contact_name'] }}</strong>
                                                <br>
                                                <span>{{ calllog['call_time'] }}</span>
                                            </span>
                                        {#                                            <div class="status inactive"></div>#}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <br/>

{% endblock %}
<script src="{{ url_for('static', filename='js/sms.js') }}"></script>